.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  width: 7%;
  height: 100vh;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 30px;
      height: auto;

      &.sub-logo {
        width: 60px;
        // margin-top: -10px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    height: 210px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      text-decoration: none;
      position: relative;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }
    a.home-link {
      &::after {
        content: 'HOME';
      }
    }

    a.about-link {
      &::after {
        content: 'ABOUT';
      }
    }

    a.skills-link {
      &::after {
        content: 'SKILLS';
      }
    }

    a.portfolio-link {
      &::after {
        content: 'PORTFOLIO';
      }
    }

    a.blog-link {
      &::after {
        content: 'BLOG';
      }
    }

    a.contact-link {
      &::after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: #ffd700;
      }
    }
  }

  ul {
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #ffd700;
        }
      }
    }
  }
}


@media screen and (max-width: 1186px) {
  .nav-bar {
    width: 10%;
  }
}

@media screen and (max-width: 564px) {
  .nav-bar {
    padding: 0 5px;
    box-sizing: border-box;
  }
}

@media screen and (max-width:450px) {
  .nav-bar{
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start;
    margin: 0 auto !important;
  }

  .logo, ul{
    display: none !important;
  }

  nav{
    display: flex !important;
    justify-content: space-between !important;
  }
}